@import "@cloudflare/kumo/styles/tailwind";
@import "tailwindcss";
@source "../node_modules/@cloudflare/kumo/dist/**/*.{js,jsx,ts,tsx}";

@theme {
  --text-xs: 14px;
  --text-xs--line-height: 1.5;
  --text-sm: 14px;
  --text-sm--line-height: 1.5;
}

:root {
  font-family: system-ui, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  font-size: 14px;
}

button,
input {
  font: inherit;
}
